AIML-Bot
coverage
cython
future
gensim
html2text
html5lib
ipdb
jupyter
Keras
Keras-Applications
Keras-Preprocessing
matplotlib
MechanicalSoup
nltk
pandas
pandoc
pathlib
pillow
pip
plac
plotly
plyfile
pugnlp
pytest-cov
python-levenshtein
qtconsole
redis
regex
scikit-learn
scipy
seaborn
setuptools
spacy
theano
tqdm
wheel
